#Skill {
    width: 85%;
    margin: auto;
}

.skill-container {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    gap: 1rem;
}

.skill_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.skill_card {
    text-align: center;
    border-radius: 1rem;
    padding: 3rem;
    background-color: steelblue;
}