.skill-container {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    gap: 2rem;
}

.skill_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.skill_card {
    text-align: center;
    border-radius: 1rem;
    padding: 4rem 1rem;
    background-color: steelblue;
}

@media screen and (max-width: 1024px) {
    .skill-container {
        grid-template-columns: 45% 55%;
    }
    .skill_cards {
        padding: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .skill-container {
        grid-template-columns: 1fr;
    }
}