.resources-navbar {
    display: flex;
    justify-content: space-between;
}

.resources-navbar h2 {
    font-weight: 500;
    font-size: 3rem;
}

.resources-navbar .link {
    border-bottom: 2px solid gray;
    padding-bottom: 0.5rem;
}

.resources-navbar a {
    color: black !important;
    font-weight: 600 !important;
    margin-right: 3rem;
    padding: 0.6rem;
    font-size: 1.2rem;
}

.resources-navbar a:last-child {
    margin-right: 0rem;
}

a.active {
    border-bottom: 4px solid black;
}

.resources-cards {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.resources-card {
    background-color: rgb(48, 48, 48);
    color: white;
    margin: 10px;
    padding: 1rem;
}

.resources-card p {
    margin: 2rem 0;
    font-weight: lighter;
}

@media(max-width: 700px) {
    .container {
        width: 95%;
        margin: auto;
        overflow: hidden;
    }
    .resources-navbar {
        flex-direction: column;
    }
    .resources-cards {
        margin-top: 4rem;
        grid-template-columns: 1fr;
    }
    .resources-navbar .link {
        margin-top: 5rem;
    }
    .resources-navbar a {
        margin-right: 1rem;
    }
}