/* :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
}

section {
    padding: 4rem 0;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
    padding: 0 20px;
    cursor: pointer;
    padding: 5px;
}

h1 {
    font-size: 2em;
    margin: 0 0 0 0;
}

h3 {
    font-size: 1.5rem;
}

button {
    border-radius: 8px;
    padding: 1em;
    font-size: 1rem;
    font-weight: 900;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
    margin: 10px 0;
}

.btn {
    padding: 0.5rem 1rem;
    width: max-content;
    border: 1px solid white;
    background-color: transparent;
    font-size: 0.9rem;
    margin: 1rem 0;
    margin-right: 20px;
    font-weight: 700;
}

.btn-primary {
    border-color: yellow;
    background-color: yellow;
    color: black !important;
}

.btn:hover {
    opacity: 0.8;
}

button:hover {
    background-color: #213547d2;
}