.span {
    display: none;
}

@media(max-width: 700px) {
    .container {
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .Banner-container {
        background: url('../Main/image/mitchell-luo-FWoq_ldWlNQ-unsplash.jpg') no-repeat;
        background-size: cover;
    }
    .Banner-container .overlay {
        background-color: rgba(19, 10, 10, 0.833);
    }
    .row1 {
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .row1 .image {
        display: none;
    }
    .detail {
        gap: 0.2rem;
        margin: 0%;
    }
    .detail h1 {
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        letter-spacing: 3px;
    }
    .span {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background-color: rgba(19, 10, 10, 0.04);
        box-shadow: 5px 0 0 0px steelblue;
        animation: span 4s infinite;
        z-index: 2;
    }
    @keyframes span {
        0% {
            transform: translateY(-0%);
        }
        100% {
            box-shadow: 0 0 0 5px steelblue;
            transform: translateY(50%);
        }
    }
    .detail h3 {
        font-size: 30px;
    }
    .detail h2 {
        font-size: 20px;
    }
    .detail p {
        line-height: 1.3;
        font-size: 16px;
    }
    .detail a {
        font-size: 15px;
    }
}