@media(max-width: 700px) {
    .container {
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .Banner-container {
        background: url('../Main/image/Self.png') no-repeat;
        background-position: center;
        background-size: 80%;
    }
    .Banner-container .overlay {
        background-color: rgba(0, 0, 0, 0.967);
    }
    .row1 {
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .row1 .image {
        display: none;
    }
    .detail {
        gap: 0.2rem;
        margin: 0%;
    }
    .detail h1 {
        font-size: 35px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .detail h3 {
        font-size: 20px;
    }
    .detail h2 {
        font-size: 16px;
        background-color: transparent;
    }
    .detail p {
        line-height: 1.3;
        font-size: 16px;
    }
    .detail a {
        font-size: 15px;
    }
}