form {
    width: 60%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form div {
    margin-top: 5px;
}

input,
textarea {
    margin: 5px 0%;
    width: 100%;
    padding: 5px;
    background-color: steelblue;
    color: steelblue;
    font-size: 18px;
    outline: none;
    border: none;
}

input:focus,
textarea:focus {
    background-color: white;
    box-shadow: 0 0 5px 0 gray;
}

input:nth-child(1) {
    margin-right: 5px;
}

input::placeholder,
textarea::placeholder {
    color: rgb(202, 202, 202);
    font-size: 15px;
}