.container .contact {
    background-color: steelblue;
}

form {
    width: 70%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    background-color: steelblue;
    padding: 3rem;
}

.header h1 {
    border-bottom: none;
}

.btn {
    width: 20%;
    margin: auto;
    color: steelblue;
    background-color: white;
}

.btn:hover {
    color: white;
}

form input,
textarea {
    margin: 5px auto;
    width: 90%;
    padding: 5px;
    background-color: white;
    color: steelblue;
    font-size: 18px;
    outline: none;
    border: 2px solid steelblue;
    border-radius: 5px;
    resize: none;
}

form input:focus,
textarea:focus {
    background-color: rgb(242, 242, 242);
    box-shadow: 0 0 4px 0 steelblue;
}

input::placeholder,
textarea::placeholder {
    font-size: 15px;
}

@media(max-width: 700px) {
    .container {
        width: 95%;
        margin: auto;
    }
    .header {
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .header h1 {
        font-size: 28px;
        border-bottom: none;
    }
    .header p {
        margin: 0%;
        margin-bottom: 20px;
        font-size: 15px;
        width: 90%;
    }
    form input,
    textarea {
        width: 100%;
    }
    textarea {
        height: 5vh;
    }
}