.service_container {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2rem;
}

.service_header {
    text-align: left;
}

.service_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    text-align: center;
}

.service-card {
    background-color: steelblue;
    padding: 1rem;
    border-radius: 1rem;
}

@media(max-width: 700px) {
    .service {
        width: 90%;
        margin: -20% auto;
        flex-direction: column;
    }
    .service .s-left {
        flex: none;
        gap: 0%;
    }
    .s-card {
        width: 45%;
        height: 30%;
    }
    .ser-card:hover {
        transform: none;
    }
    .s-left span:nth-child(1) {
        font-size: 28px;
    }
    .s-left span:nth-child(3) {
        font-size: 15px;
    }
    .s-left span:nth-child(2) {
        font-size: 22px;
        font-weight: 700;
    }
    .s-left button {
        font-size: 12px;
    }
    .ser-card {
        gap: 0%;
    }
    .ser-card span:nth-child(2) {
        font-size: 15px;
        padding: 2px 0%;
    }
    .ser-card span:nth-child(3) {
        font-size: 12px;
        padding: 2px 0%;
    }
    .ser-card button {
        font-size: 12px;
    }
    .s-card:nth-child(2) {
        top: 10%;
        left: 47%
    }
    .s-card:nth-child(3) {
        top: 23%;
        left: 1%
    }
    .s-card:nth-child(4) {
        top: 40%;
        left: 47%
    }
}