.service {
    position: relative;
    width: 80%;
    margin: 20px auto;
    display: flex;
    height: 90vh;
}

.service .s-left {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
}

.s-left span:nth-child(1) {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.s-left span:nth-child(2) {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    color: steelblue;
}

.s-left span:nth-child(3) {
    font-size: 20px;
    color: rgb(66, 65, 65);
}

.s-left button {
    margin: 2% 0%;
}

.s-left button a:hover {
    border: none !important;
    color: steelblue;
}

.service .s-right {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-card {
    position: absolute;
    width: 50%;
    height: 53%;
    display: flex;
    gap: 1rem;
    background-color: white;
    box-shadow: 0 2px 4px 0 steelblue;
    border: 4px solid steelblue;
    border-radius: 15px;
    z-index: 1;
    transform: scale(0.9);
}

.s-card span:nth-child(3) {
    text-transform: capitalize;
    font-size: 16px;
    color: gray;
    width: 90%;
}

.s-card span:nth-child(2) {
    font-size: 20px;
    font-weight: 700;
    color: steelblue;
}

.s-card:nth-child(2) {
    top: -3%;
    left: 45%;
}

.s-card:nth-child(3) {
    top: 30%;
    left: -3%;
}

.s-card:nth-child(4) {
    bottom: -2%;
    left: 45%;
}

.ser-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 0px 10px;
    transform: 0.3s linear;
}

.ser-card:hover {
    transform: translateY(-5%);
}

.s-right .color {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: steelblue;
    filter: blur(100px);
}

@media(max-width: 700px) {
    .service {
        width: 90%;
        margin: -20% auto;
        flex-direction: column;
    }
    .service .s-left {
        flex: none;
        gap: 0%;
    }
    .s-card {
        width: 45%;
        height: 30%;
    }
    .ser-card:hover {
        transform: none;
    }
    .s-left span:nth-child(1) {
        font-size: 28px;
    }
    .s-left span:nth-child(3) {
        font-size: 15px;
    }
    .s-left span:nth-child(2) {
        font-size: 22px;
        font-weight: 700;
    }
    .s-left button {
        font-size: 12px;
    }
    .ser-card {
        gap: 0%;
    }
    .ser-card span:nth-child(2) {
        font-size: 15px;
        padding: 2px 0%;
    }
    .ser-card span:nth-child(3) {
        font-size: 12px;
        padding: 2px 0%;
    }
    .ser-card button {
        font-size: 12px;
    }
    .s-card:nth-child(2) {
        top: 10%;
    }
    .s-card:nth-child(3) {
        top: 23%;
    }
    .s-card:nth-child(4) {
        top: 40%;
    }
}