.project_container {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    gap: 2rem;
}

.project_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.project_card {
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    background-color: steelblue;
}