    .project {
        width: 80%;
        margin: 5% auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        overflow: hidden;
    }
    
    .project .p-left {
        flex: 1;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .project .p-left span:nth-child(1) {
        font-size: 40px;
        font-weight: 700;
    }
    
    .project .p-left span:nth-child(2) {
        font-size: 40px;
        font-weight: 700;
        color: steelblue;
    }
    
    .project .p-left span:nth-child(3) {
        font-size: 20px;
        width: 60%;
        color: rgb(66, 65, 65);
    }
    
    .p-right {
        display: flex;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
    }
    
    .p-card {
        width: 300px;
        height: 350px;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        border: 3px solid steelblue;
        overflow: hidden;
        margin: 10px;
        cursor: pointer;
    }
    
    .p-card .p-image {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: steelblue;
        border-radius: 10px;
    }
    
    .p-card .p-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(66, 65, 65);
    }
    
    .p-detail span {
        font-size: 16px;
        text-align: center;
    }
    
    .p-detail span:nth-child(1) {
        margin: 5px 0%;
        font-size: 22px;
        padding: 5px;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        color: steelblue;
    }
    
    @media(max-width:700px) {
        .project {
            width: 90%;
            margin: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .project .p-left {
            gap: 0%;
        }
        .p-right {
            padding: 30px;
            overflow: hidden;
        }
        .p-card {
            width: 300px;
            height: 300px;
            display: flex;
            flex-direction: column;
            border: 2px solid steelblue;
            overflow: hidden;
            margin: 10px 0%;
            cursor: pointer;
        }
        .p-card:hover {
            background-color: steelblue;
        }
        .p-card:hover span {
            color: white;
        }
        .p-card .p-detail {
            justify-content: center;
            align-items: center;
            background-color: transparent;
            padding: 0%;
            text-align: center;
        }
        .p-detail span:nth-child(1) {
            color: steelblue;
            margin: 10px 0%;
            padding: 0%;
            font-size: 20px;
        }
        .p-card:hover span {
            color: white;
        }
        .p-detail span {
            font-size: 12px;
        }
        .p-right {
            margin: 0%;
            flex-direction: column;
        }
        .project .p-left span:nth-child(1) {
            font-size: 28px;
        }
        .project .p-left span:nth-child(2) {
            font-size: 22px;
        }
        .project .p-left span:nth-child(3) {
            width: 100%;
            font-size: 15px;
        }
        .p-card {
            width: 90%;
            height: auto;
            background-color: steelblue;
            color: white;
        }
        .p-card * {
            color: white !important;
        }
    }