.project {
    width: 80%;
    margin: 5% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.project .p-left {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
}

.project .p-left span:nth-child(1) {
    font-size: 40px;
    font-weight: 700;
}

.project .p-left span:nth-child(2) {
    font-size: 40px;
    font-weight: 700;
    color: steelblue;
}

.project .p-left span:nth-child(3) {
    font-size: 20px;
    color: rgb(66, 65, 65);
}

.p-right {
    position: relative;
}

.p-card {
    width: 80%;
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.p-image {
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: steelblue;
    border-radius: 10px;
}

.p-detail {
    background-color: rgba(70, 131, 180, 0.55);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
    color: rgb(66, 65, 65);
}

.p-detail span:nth-child(1) {
    margin-bottom: 5px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: white;
    flex-direction: row-reverse;
}

@media(max-width:700px) {
    .project {
        width: 90%;
        margin: auto;
        flex-direction: column;
    }
    .p-right {
        padding: 30px;
        background-color: black;
        overflow: hidden;
    }
    .p-card {
        display: flex;
        flex-direction: column;
    }
    .p-detail {
        overflow: hidden;
        margin-top: 10px;
        padding-right: 80px;
        font-size: 18px;
    }
    .p-detail span {
        font-size: 12px;
        padding: 0% 20px;
    }
}