.platform {
    background-color: rgb(38, 38, 38);
}

.platform h2 {
    font-size: 3rem;
    font-weight: 500;
    color: white;
}

.platform .cards {
    margin: 4rem 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.platform .card-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.platform .cards .card {
    width: 470px;
    height: max-content;
    padding: 20px;
    border-right: 2px solid white;
}

.platform .card:last-child {
    border-right: none;
}