.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.left-side {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    padding-right: 3rem;
    border-radius: 0.3rem;
    font-size: 2.5rem;
    font-weight: bolder;
    color: wheat;
}

.nav-link {
    display: flex;
    list-style: none;
}

a {
    color: white !important;
}

.nav-link a {
    padding-bottom: 0.5rem;
    color: white;
    margin: 10px;
    font-size: 1.2rem;
}

.nav-link a:hover {
    border-bottom: 3px solid white;
    background-color: transparent;
}

.navbar .log {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.navbar .log .login {
    padding-left: 1rem;
}

button {
    display: none;
}

@media screen and (max-width: 700px) {
    .navbar {
        width: 100%;
        position: sticky;
        padding: 10px;
        top: 0%;
        left: 0;
        background-color: rgb(77, 77, 77);
        animation: slide-down 0.5s linear;
    }
    .nav-link,
    .navbar .log {
        display: none;
    }
    .navbar button {
        display: flex;
        transition: all 0.5s linear;
    }
    .navbar .mobile-nav-link {
        width: 100%;
        display: block;
        position: absolute;
        top: 90px;
        list-style: none;
        left: 0;
        background-color: rgb(77, 77, 77);
        animation: slide-down 0.5s linear;
        z-index: -1;
    }
    @keyframes slide-down {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0%);
        }
    }
    .navbar .mobile-nav-link li {
        text-align: center;
        font-size: 20px;
        padding: 1rem;
        margin: 10px 0;
        transition: all 0.5s ease;
    }
}